* {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: sans-serif;
}

.container {
    width: 1024px;
    height: 560px;
    margin: 0 auto;
}

.task {
    &_text {
        text-align: center;
        margin-bottom: 40px;
    }
}

.axis {
    width: 600px;
    height: 82px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 100px;
    position: relative;
    &_big {
        height: 16px;
        width: 109px;
        border-right: 1px solid black;
    }
    &_little {
        height: 16px;
        width: 89px;
        border-right: 1px solid black;
    }
    .last {
        border-right: none;
        position: relative;
        img {
            height: 70px;
            position: absolute;
            right: -35px;
            top: -53px;
        }
    }
    &-left-man {
        width: 55px;
        height: 58px;
        position: absolute;
        left: -56px;
        transition: all 1s linear;   
    }
    &-right-man {
        width: 55px;
        height: 58px;
        position: absolute;
        right: -56px;
        transition: all 1s linear;
    }
    &-left-arrow {
        width: 90px;
        height: 30px;
        position: absolute;
        top: -13px;
        left: 0px;
    }
    &-right-arrow {
        width: 90px;
        height: 30px;
        position: absolute;
        top: -13px;
        right: 0px;    
    }
    &-left-name {
        position: absolute;
        top: -20px;
        left: -110px;
        color: #a793fc;
    }
    &-right-name {
        position: absolute;
        top: -20px;
        right: -110px;
        color: #7de2ec;
    }
    &-left-speed {
        position: absolute;
        top: -12px;
        left: 100px;
    }
    &-right-speed {
        position: absolute;
        top: -12px;
        right: 100px;
    }
}

.switch {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    &-options {
        position: relative;
        width: 165px;
        perspective: 1000px;
        &-one {
            width: 100%;
            position: absolute;
            backface-visibility: hidden;
            margin-left: 5px;
            transition: all 1s;
            color: #70c5e2;
            &:hover {
                color: #39b6e2;
                cursor: pointer;
            }
        }
        &-two {
            width: 100%;
            position: absolute;
            transform: rotateX(180deg);
            backface-visibility: hidden;
            margin-left: 5px;
            transition: all 1s;
            color: #70c5e2;
            &:hover {
                color: #39b6e2;
                cursor: pointer;
            }
        }
    }
}

.hint {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    &_text {
        transition: all 1s;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        background-color: #d9d9d9;
    }
}

.ready {
    display: flex;
    justify-content: center;
    button {
        font-size: 20px;
        border: none;
        outline: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #b9e0ed;
        transition: all 0.5s;
        &:hover {
            cursor: pointer;
        }
        &:enabled {
            background-color: #70c5e2;  
        }
        &:enabled:hover {
            background-color: #39b6e2;
        }
    }
}